{{> indexParts}}
{{!-- {{#each dogRandom}} --}}
{{!-- {{#with dogRandom}} --}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{initialDog.owner}}</h5>
    <p class="card-text">Propietari@ de: {{initialDog.name}}</p>
    <p class="card-text">Edad:{{initialDog.age}} años</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{finalDog.owner}}</h5>
    <p class="card-text">Propietari@ de: {{finalDog.name}}</p>
    <p class="card-text">Edad:{{finalDog.age}} años</p>
  </div>
</div>
{{!-- {{/with}} --}}
{{!-- {{/each}} --}}